@import '../components/variables.scss';

.Container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.Box {
  max-width: $boxWidth;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.User {
  border: 1px solid $secondGray;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  &__icon {
    width: 32px;
    &:hover {
      cursor: pointer;
    }
  }
  &__personIcon {
    margin-left: auto;
  }
}
