@import 'variables';

.Menu {
  width: 100vw;
  height: 60px;
  background-color: $mainBlue;
  color: $mainRed;
  &__box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin: 0 20px;
  }
  &__link {
    list-style: none;
  }
  &__linkInside {
    text-decoration: none;
    color: $mainRed;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $mainGray;
      background-color: $mainRed;
    }
  }
}
