@import './variables.scss';

.UserEditForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  input {
    font-size: 1rem;
    line-height: 1.8rem;
    border: none;
    color: black;
    background-color: lighten($mainGray, 15%);
    border-radius: 5px;
    padding: 5px;
    &:focus {
      outline: none;
      background-color: lighten($mainGray, 5%);
    }
  }
  button {
    border: none;
    background-color: $mainGreen;
    color: white;
    font-size: 1rem;
    padding: 7px;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}
