$mainBlue: #061331;
$mainYellow: #f6d25d;
$mainGray: #ccc;
$mainRed: #ec6760;
$mainGreen: #53be87;

$boxWidth: 400px;

@mixin Container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

@mixin Box {
  max-width: $boxWidth;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@mixin Border {
  border: 1px solid $mainGray;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}
