$mainBlue: rgb(2, 5, 24);
$mainYellow: #fecb30;
$mainGray: #a3a3a3;
$mainRed: #d8354b;
$mainGreen: rgb(52, 175, 70);

$boxWidth: 400px;

@mixin Container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

@mixin Box {
  max-width: $boxWidth;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@mixin Border {
  border: 1px solid $mainGray;
  border-radius: 10px;
  padding: 10px;
}
